.page {
  min-width: 320px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 580px;
  max-height: 400px;
  margin: auto;
   /* here we've set a maximum page width */
    /* this ensures that all content is centered on screens wider than 1600px */
  color: black;
  background-color:black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 20px);  
}

.cover__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_20201002_223440.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
}

.cover__link-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_20201002_223454.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
  transition: opacity 5.5s;
}

.cover__link-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_20201002_223508.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
  transition: opacity 5.5s;
}

.cover__link-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_20201002_223525.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
  transition: opacity 5.5s;
}

.cover__link-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_20201002_223543.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
  transition: opacity 5.5s;
}

.cover__link-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_20201002_223559.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
  transition: opacity 5.5s;
}

.cover__link-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  min-height: 120px;
  max-height: 240px;
  min-width: 120px;
  max-width: 240px;
  width: fit-content;
  color: white;
  position: relative;
  background-image: url(./Web/IMG_);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 40px;
  margin: 30px;
  transition: opacity 5.5s;
}

.cover__link::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 0px;
  transition: opacity 5.5s;
}

.cover__link:hover::after {
  opacity: 0.2;
  transition: opacity 5.5s;
}

.cover__link-1::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 0px;
  transition: opacity 5.5s;
}

.cover__link-1:hover::after {
  opacity: 0.2;
  transition: opacity 5.5s;
}

.cover__link-2::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 0px;
  transition: opacity 5.5s;
}

.cover__link-2:hover::after {
  opacity: 0.2;
  transition: opacity 5.5s;
}

.cover__link-3::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 0px;
  transition: opacity 5.5s;
}

.cover__link-3:hover::after {
  opacity: 0.2;
  transition: opacity 5.5s;
}

.cover__link-4::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 0px;
  transition: opacity 5.5s;
}

.cover__link-4:hover::after {
  opacity: 0.2;
  transition: opacity 5.5s;
}

.cover__link-5::after {
  content: '';
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  opacity: 1;
  top: 0px;
  left: 0px;
  transition: opacity 5.5s;
}

.cover__link-5:hover::after {
  opacity: 0.2;
  transition: opacity 5.5s;
}





